body {
    background-color: aqua;
    min-width: 1000px;
}

.touxiang {
    width: 1000px;
    text-align: center;
    line-height: 5;
    margin: 50px auto 0px;
}

.touxiang img {
    width: 200px;
    border-radius: 50%;
    transition: 0.5s;
}

.touxiang img:hover {
    width: 250px;
    transition: 0.5s;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.507);
}

.r_caihong {
    width: 60%;
    height: 2px;
    background: linear-gradient(to right,
                                #f04b22,
                                #f86b1d,
                                #ffc90c,
                                #20a162,
                                #2c9678,
                                #1a94bc,
                                #894276
    );
    margin: 0 auto;
}

.lianxi {
    text-align: center;
}

.fenge {
    font-size: 25px;
}

.lianxi span {
    background: linear-gradient(to right,
                                #eb261a,
                                #f97d1c,
                                #ffc90c,
                                #45b787,
                                #2b73af,
                                #7e1671
    ) no-repeat right bottom;
    background-size: 0px 2px;
    transition: background-size 700ms;
}

.lianxi span:hover {
    background-size: 100% 2px;
    background-position-x: left;
}

.tianjiang {
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qq {
    margin-right: 50px;
}

button {
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    background-color: aqua;
    border-radius: 25px;
    transition: 0.5px;
}

button:hover {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    font-size: 0px;
    background-color: #eef7f2;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.182);
    transition: 1s;
}

button:hover span {
    display: none;
}

button img {
    width: 0px;
    border-radius: 25px;
}

button:hover img {
    width: 250px;
    transition: 1s;
}
